<a href="https://colab.research.google.com/github/Roberta-Oliveira/demo/blob/master/Aula_26_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=3**3
print(x)

27

In [3]:
x = 30 // 12
print(x)
y = 30 % 12
print(y)

2
6

In [9]:
Var1 = 'Texto 1'
Var2 = 50
Var3 = 100/1
#Var4 = True
print( type(Var1) )
print( type(Var2) )
print( type(Var3) )
#print( type(Var4) )

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
MeuTexto1 = 'Palavras A'
MeuTexto2 = "Palavras B"
MeuTexto3 = 'Pal A\nPal B'
print(MeuTexto1 + MeuTexto2)
print(MeuTexto1, MeuTexto2)
print( len(MeuTexto1) )
print(MeuTexto3)

Palavras APalavras B
Palavras A Palavras B
10
Pal A
Pal B

In [20]:
Frase = 'ksjwueiropfjnxv284%dh'
print(Frase[2:7])
print(Frase[2::2])
print(Frase[2:8:3])

jwuei
juiofnv8%h
je

In [24]:
Txt1 = 'IESB'
Txt2 = 'O' + Txt1[1:]
print(Txt2)
Txt1 = Txt1 + Txt1
print(Txt1)
Txt3 = 3*'Abc'
print(Txt3)

OESB
IESBIESB
AbcAbcAbc

In [25]:
Frase = 'adjetivo Que se conseguiu concatenar; que está unido; encadeado. Que se liga de modo lógico; que possui uma relação sequencial'
print(Frase.split())
print(len(Frase.split()))
print(Frase.split('n'))

['adjetivo', 'Que', 'se', 'conseguiu', 'concatenar;', 'que', 'está', 'unido;', 'encadeado.', 'Que', 'se', 'liga', 'de', 'modo', 'lógico;', 'que', 'possui', 'uma', 'relação', 'sequencial']
20
['adjetivo Que se co', 'seguiu co', 'cate', 'ar; que está u', 'ido; e', 'cadeado. Que se liga de modo lógico; que possui uma relação seque', 'cial']

In [30]:
Contando = 'ABCDXDEFG DHDRLXOCMJX234SX X'
print(Contando.split('X'))
print( len(Contando.split('X'))-1)

['ABCD', 'DEFG DHDRL', 'OCMJ', '234S', ' ', '']
5

In [33]:
MeusCaros = 'Meus carros foram: {0}, {0}, {0}, {1} e {4}'
Carro0 = 'Ka'
Carro1 = 'Gol'
Carro2 = 'Sentra'
Carro3 = 'Bravo'
Carro4 = 'Virtus'
print( MeusCaros.format(Carro0, Carro1, Carro2, Carro3, Carro4))

Meus carros foram: Ka, Ka, Ka, Gol e Virtus

In [45]:
#Listas

Lista1 = [4, 'IESB', 78.5, False]
print(Lista1)
print( type(Lista1[0]))
print( Lista1[1][2])
Lista1[0] = Lista1[0]*5
print(Lista1)
Lista1[1] = 2*Lista1[1]
print(Lista1)
Lista1[3] = 99.99
print(Lista1)

[4, 'IESB', 78.5, False]
<class 'int'>
S
[20, 'IESB', 78.5, False]
[20, 'IESBIESB', 78.5, False]
[20, 'IESBIESB', 78.5, 99.99]

In [51]:
Lista2 = [4, 'IESB', 78.5, False]
Lista2 = 2*Lista2
print(Lista2)
Lista3 = [1, 2, 3, 4]
Lista3 = 2*Lista3
print(Lista3)

lista2 = [4, 5, 6 ,7]
lista2 = 2*lista2
print(lista2)

[4, 'IESB', 78.5, False, 4, 'IESB', 78.5, False]
[1, 2, 3, 4, 1, 2, 3, 4]
[4, 5, 6, 7, 4, 5, 6, 7]